.custom-chatbot-container {
    width: 10px; /* Ancho del contenedor del chatbot */
    height: 600px; /* Altura del contenedor del chatbot */
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid #62152d;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }