.entrenador{
    /* background-color: aqua; */
    width: 229px;
    height: 722px;
    display: flex;
    flex-direction: column;
    
}
.cuadro {
    display: flex;
    height: 100vh;
    width: 375px;
    flex-direction: column;

    overflow: hidden;
    
    align-items: center;
}