.contenedorbuttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 375px;
    color: white;
    height: 50px;
}
.boton
{
    background-color: transparent;
    border: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    size: 17px;
    width: 187.5px;
    height: 50px;
    
    
}
.boton:active
{
    color: rgba(36, 101, 225, 1);
    border-bottom: 2px solid rgba(36, 101, 225, 1);
}