.BotonAsignarAli{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.BotonAsignarAli button{
    background-color: #C04551;
    width: 230px;
    height: 30px;
    color:white;
    font-size: 20px;
    border-radius: 48px;
    border: none;
}