.delimitador
{
    display: flex;
    height: 100vh;
    min-height: 700px;
    width: 375px;
    flex-direction: column;
    border: 1px solid white;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}
