.Calendario{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Calendario p{
    font-size:40px;
    margin: 0px;
    font-weight: bold;
}
/* src/CustomCalendar.css */
.react-calendar {
    background-color: black; /* Cambiar el fondo del calendario */
    text-align: center;
  }
  
  .react-calendar__tile--active {
    background: #C04551 !important; /* Cambiar el color del día seleccionado */
    color: white !important;
  }
  
  .react-calendar__tile {
    background: black;
    transition: background 0.3s ease;
    color: white;
    border: none;
  }
  
  .react-calendar__tile:hover {
    background: #C04551; /* Cambiar el color al pasar el ratón por encima */
  }
  
  .react-calendar__navigation button {
    background-color: black;
    color: white; /* Cambiar el color de los botones de navegación */
    border: none;
}
  .react-calendar__navigation button:disabled {
    background-color: black;
    border: none;
  }
  .react-calendar__month-view__days__day {
    font-size: 20px; /* Aumenta el tamaño de la letra de los días */
  }
  .react-calendar__navigation button {
    font-size: 35px; /* Aumenta el tamaño de la letra de los botones de navegación */
  }
  