.InforAsistencia{
    /* background-color: blueviolet; */
    display: flex;
    margin: 0px 10px 0px 10px;
}
.InforAsistenciaTexto{
    font-size: 20px;
    margin: 0px 10px 0px 0px;
}
.InforAsistenciaFiguras .Circulo{
    background-color: #C04551;
    width: 36px;
    height: 30px;
    border-radius: 50%;
    margin: 20px 0px 0px 0px;
}
.InforAsistenciaFiguras p{
    font-size: 50px;
    margin: 0px 0px 0px 10px;
}
.InforAsistenciaTexto p{
    margin: 24px 0;
}