.barraDeNavegacion {
    position: relative;
    background-color: black;
  }
.contenedor
{
    display: flex;
    height: 74.94px;
    width: 375px;
    background-color: rgba(51, 54, 63, 0.94);
    flex-direction: row;
    align-items: center;    
    justify-content:space-between;
    color: white;
}
.titulo
{
    color: white;
    margin: 0;
    border: 0;
    text-decoration: none;
    font-family: "Alumni Sans", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 10px;
}
.barritas
{
    margin-right: 10px;
}
.navlink-no-under {
    text-decoration: none;
  } 