.BarraMenuPerfil {
    width: 159px;
    height: 84px;
    margin: 40px 10px 0px 10px;
}
.BarraDeMenuContenido{
    display: flex;
    align-items: center;
   
}

.BarraDeMenuFoto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BarraDeMenuFoto img{
    border-radius: 50%;
    width: 58px;
    height: 56px;
    margin: 0px;
}
.BarraMenuPerfil p{
    color: white;
    font-family: "Alumni Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 0 24px;
}
.BarraMenuPerfil hr{
    width: 159px;
    margin-top: 0 0 0 24px;
}
.BarraDeMenuFoto button{
    background-color: transparent;
    font-size: 15px;
    width: 50px;
    height: 21px;
    color: white;
    border: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}