.ContenedorTotal {
    background-color: #fdfdfd;
    height: 480px;
    width: 340px;
    display: flex;
    border-style:groove;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.BotonCerrarRecomendacion {
    align-self: flex-end; 
    margin-top: 0px;
    background-color: transparent;
    border-color: transparent;
}

.ContenedorRecomendacion {
    height: 450px;
    width: 310px;
    background-color: rgb(241, 230, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.Titulo {
    font-family: 'Alumni Sans', sans-serif;
    margin: 0px;
    color: rgb(122, 36, 36);
}

.subtitulo {
    font-family: 'Alumni Sans', sans-serif;
    margin: 0;
}

.Descripcion {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 22px;
    font-weight: 100px;
    margin: 15px;
    color: #747474;
}

.contenedorImagenRecomendacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 185px;
    width: 200px;
    border-style:groove;
    border-radius: 20%;
    border-color: #747474;
}

.contenedorImagenRecomendacion img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
}
