.letrasUseAsigdi p
{
    font: size 30px; ;
}

.letrasUseAsigdi1 p{
    /* background-color: blue; */
    display: inline-block;
    font-size: 10px;
    margin: 0px;
}
.EjercicioUseAsigdi1 {
    font-size: 30px;
    display: inline-block;
    margin: 20px;
}
.ALIM p
{
    font-size: 5px;
}